html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;
  /* -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box; */}

body
{ font: normal 12pt Calibri, Helvetica, sans-serif;
  color: black;
  background: whitesmoke;
  margin-bottom: 120px;}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section 
{ display: block;}

p
{ padding: 0 0 10px 0;
  font-size: 14pt;
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: justify;
}

img
{ border: 0;
  margin: 0;}

h1
{ display: block;
  font: bold 24pt Calibri, Helvetica, sans-serif;
  color: black; 
  padding: 0 0 10px 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;}

h2
{ font: bold 22pt Calibri, Helvetica, sans-serif;
  color: black; 
  padding: 10px 0 10px 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  clear: both; }

h3
{ font: normal 18pt Calibri, sans-serif;
  padding: 0 0 10px 0;}

h4
{ margin: 0;
  padding: 0;
  font: normal 16pt Calibri, sans-serif;
  color: black;
  line-height: 1.5em;}

h5
{ font: normal 14pt Calibri, sans-serif;
  color: black;
  padding-bottom: 15px;}

h6
{
  font:normal 13pt Calibri, sans-serif;
  color: black;}
  
span
{ color: #B1521A;
  text-shadow: none;}

a, a:hover
{ color: black;
  background: transparent;
  font-weight: bold;
  outline: none;
  text-decoration: underline;}

a:hover
{ text-decoration: none;}

ul
{ margin: 2px 0 22px 30px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, header, #banner, #menubar, #site_content, footer, #content_grey, nav, #slideshow_container
{ margin-left: auto; 
  margin-right: auto;}
  
header
{ height: 150px;
  background: rgb(39, 49, 126);
  /*background: -moz-linear-gradient(white, rgb(138, 159, 177));
  background: -o-linear-gradient(white, rgb(138, 159, 177));
  background: -webkit-linear-gradient(white, rgb(138, 159, 177));*/}
 
nav
{ height: 50px; 
  padding-top: 15px;}  
  
#strapline
{ width: 1000px;
  height: 80px;
  text-align: center;
  margin: 0 auto;} 
  
#welcome_slogan
{ width: 1000px; 
  float: none; 
  height: 75px; 
  padding-top: 25px; 
  margin: 0 auto;
  font-family: Calibri;
  text-align: center;}    

#welcome_slogan h3
{ font: bold 300% Calibri, sans-serif;
  color: whitesmoke;} 

#menubar
{ width: 940px;
  height: 55px;
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;}    
  
ul#nav
{ margin:0 auto;}

ul#nav li
{ margin:0 auto;
  padding: 0;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#nav li a, li.current a
{ font-size: 18pt;
  margin: auto;
  height: 24px;
  padding: 10px 13px 10px 13px;
  background: transparent; 
  /*border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;*/
  text-align: center;
  color: whitesmoke;
  text-decoration: none;} 
  
ul#nav li:hover a
{
  color: whitesmoke;
  background: rgb(39, 49, 126);
  /*background: -moz-linear-gradient(rgb(37, 18, 199), rgb(26, 18, 153));
  background: -o-linear-gradient(rgb(37, 18, 199), rgb(26, 18, 153));
  background: -webkit-linear-gradient(rgb(37, 18, 199), rgb(26, 18, 153));*/
  text-shadow: none;
}

#slideshow_container
{ height: 300px;
  background: whitesmoke;
  padding-top: 20px;}
  
.slideshow
{ width: 1000px;
  height: 280px;
  margin: 0 auto;}  
  
/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 1000px;
  height: 280px;
  overflow: hidden;
  position: relative;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;}
 
#slideshow-caption {
  width: 1000px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0; 
  z-index: 500;}
 
#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px; 
  background: transparent url(../images/transparent.png) repeat;  
  z-index: 1000;}
 
#slideshow-caption p {
  padding: 0;
  font: normal 130% Calibri, sans-serif;
  color: #FFF;
  text-shadow: none;}  

#site_content
{ width: 1000px;
  overflow: hidden;} 

.sidebar_container
{ float: right;
  margin: 20px 0 0 10px;
  width: 240px;}

.sidebar
{ float: left;
  width: 240px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% Calibri, Helvetica, sans-serif;
  width: 240px;}

.sidebar h2
{ padding: 5px 0 0 0;
  font: normal 140% 'News Cycle', Calibri, sans-serif;
  height: 30px;}  

#content
{ width: 1000px;
  margin: 0 0 20px 0px;
  float: left;}

.content_item
{ width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;}
  
.content_container
{ width: 480px;
  margin: 10px 10px 10px 10px;
  float: left;}

.content_container2
{ width: 275px;
  margin: 20px 10px 0 0;
  float: left;
  clear: both; }

.content_container3
{
  width: 600px;
  margin: 20px 10px 0 0;
  float: left;
}

.content_container4
{
  width: 1000px;
  margin: 20px 10px 0 0;
  float: left;
}
  
footer
{ position: fixed;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;  
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  background: rgb(39, 49, 126);
  /*background: -moz-linear-gradient(white, whitesmoke);
  background: -o-linear-gradient(white, whitesmoke);
  background: -webkit-linear-gradient(white, whitesmoke);*/}

footer a, footer a:hover
{ color: whitesmoke;
  text-decoration: none;
  padding-bottom: 5px;}

footer a:hover
{ text-decoration: underline;}

footer a, footer a:hover
{ text-shadow: none;
  color: whitesmoke;
  text-decoration: none;}

footer a:hover
{ text-decoration: underline;}
  
 .readmore a
{ color: #FFF;
  text-shadow: none;}
 
 .button_small
{ font: normal Calibri, Helvetica, sans-serif;
  float: left;
  height: 15px;
  padding: 2px 10px 8px 10px;
  background: rgb(39, 49, 126);
  /*background: -moz-linear-gradient(rgb(37, 18, 199), rgb(26, 18, 153));
  background: -o-linear-gradient(rgb(37, 18, 199), rgb(26, 18, 153));
  background: -webkit-linear-gradient(rgb(37, 18, 199), rgb(26, 18, 153));
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;*/}
  
.button_small a
{ color: whitesmoke;
  padding: 0 0 5px 0;
  text-shadow: none;}